.task-action {
    cursor: pointer;
}

.task-body {
    position: relative;
    height: 400px;
}
.completed{
    color:green;
}
.pending{
    color:grey;
}
.task-link{
    text-decoration: none;
    color: black;
}

.task-table-head{
    width: 100%;
}
.task-content{
    min-width: 10rem;
   
}